/* wrapper */
.container{
    max-width: 980px;
    padding: 0 20px;
    margin:auto;
}
body{
  font-family: sans-serif;
}

/* header  */

.desktop-header{
    background-color: #38ACEC;;
    height: 20vh;
}
.desktop-header__logo{ 
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color:white;
    color: #38ACEC;
    text-decoration: none;
    box-shadow: 15px 15px 0px #4aa7ee;
}
.desktop-header__logo-icon{
    font-size: 3.5rem;
    font-weight: 500;
    display: block;
    width: fit-content;
    margin: auto;
    line-height: 100px;
}
.desktop-header__hamburger{
    float:right;
    margin-top: 40px;  
}
.desktop-header__hamburger-unit{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px;
    border-radius: 50px;
}


/* hero section */

.hero-section{
    height: calc(80vh - 40px);
    background-color: #38ACEC;
    color: white;
}
.hero-section__content{
    text-align: right;
    padding: 30px;
    position: relative;
    top:60px
 }
 .hero-section__heading{
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 4rem;
}
.hero-section__description{
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 2rem;
}
.hero-section__download{
    width: 200px;
    height: 50px;
    border: 2px solid white;
    background-color: #38ACEC;
    color: white;

}
.hero-section__download-span{
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
}
.hero-section__download-figure{
    display: inline;
}
.hero-section__main-img{
   margin-left: 50px ;
   position: relative;
   top:10px
}
.hero-section__picture{
  width: 250px;

}

/* content section */

/* second section */
.desktop-second-section{
  height: 60vh;
  background-color: rgb(243, 239, 239);
  padding: 120px 0 100px ;
  position: relative;
  overflow: hidden;
  color:gray
}
.desktop-second-section__heading{
  font-size: xx-large;
  font-weight: 100;
  letter-spacing: 1px;
}
 .desktop-second-section__sub-description{
  border-left: 5px solid #7CB9E8;
  padding-left: 20px;
  font-weight: 550;
} 
.desktop-second-section__content{
  max-width: 600px;
  line-height: 1.5rem;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.desktop-second-section__button{
  width: 150px;
  height: 50px;
  border: 2px solid #3EB489;
  background-color: transparent;
  color: #3EB489;
  margin-top: 30px;
}
.desktop-second-section__img{
margin-left: auto;
display: block;
width: 400px;
position:relative;
bottom: 300px;
left:250px; 
}

/* third section */
.desktop-third-section{
  height: 80vh;
  color: gray;
}
.desktop-third-section__content{
  margin-left: auto;
  display: block;
  max-width: 500px;
  margin-top: 60px;
}
.desktop-third-section__heading{
  font-size: xx-large;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 10px;
}
.desktop-third-section__gadget{
    position: relative;
    right : 230px;
    width: 1200px;
    top:20px
}
.desktop-third-section__desc{
  padding: 10px;
  font-weight: 550;
}
.desktop-third-section__sub-desc{
  padding: 10px;
}
.desktop-third-section__button{
  padding: 10px;
  border: 2px solid palevioletred;
  color: palevioletred;
  background-color: transparent;
  width: 200px;
  height: 50px;
}
.desktop-third-section__picture{
  width: 20px;
  color: palevioletred;

}
.desktop-third-section__figure{
  margin: 10px;

}
.desktop-third-section__gadget-icon1{
  position: relative;
  z-index: 2;
}
.desktop-third-section__gadget-icon2{
  position: relative;
  right: 150px;
}
.desktop-third-section__gadget-icon3{
  position: relative;
  right: 250px;
}
.desktop-third-section__gadget-icon4{
  position: relative;
  right: 300px;
  top:30px;
  z-index: 2;
}
.desktop-third-section__gadget-icon5{
  position: relative;
  right: 320px;
}




/* like section */
.desktop-like-section{
  height: 30vh;
  display: flex;
  background-color: #3EB489;
  color: white;
  position: relative;
  z-index: 3;
}
.desktop-like-section__heading{
  font-size: xx-large;
  font-weight: 100;
  letter-spacing: 1px;
}
.desktop-like-section__button{
   width: 200px;
   height: 50px;
   background-color: transparent;
   border: 2px solid white;
   color: white;
   margin: 40px;
}


/* footer section */
.desktop-footer{
  height: 65vh;
  background-color:rgb(243, 239, 239);
  color: gray;
}
.desktop-footer__article{
  height: 65vh;
  background-color:rgb(243, 239, 239);
  }
.desktop-footer__nav{
 text-align: center;
 padding-top: 150px;
}
.desktop-footer__icon{
  text-decoration: none;
}
.desktop-footer__icon img{
  margin: 20px;
}
.desktop-footer__email{
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin: 30px;
  padding-left: 20px;
}
.desktop-footer__copyright{
  text-align: center;
  height: 10vh;
  padding-top: 40px;
}
.desktop-footer__copyright-nav{
  color: lightblue;
}








/* normalize.css */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h1,h2,figure{
    margin: 0;
    padding: 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  figure{
    display: inline;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }